[Unit]
Description = Starting FEB acquisition service
After = network.target

[Service]
ExecStart = /home/acqilc/feb-backend-emulator/Python_project/daq/feb_daq_service_daemon
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
