[Unit]
Description = Starting hvcontrol  service
After = network.target

[Service]
ExecStart = /usr/local/bin/hvcontrol.sh
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
