[Unit]
Description = Starting MongoDB access service
After = network.target

[Service]
ExecStart = /usr/local/pmdaq/bin/mg_webaccess_service_daemon
Restart=always
RestartSec=2

[Install]
WantedBy = multi-user.target
