[Unit]
Description = Starting SERVICENAME  service
After = network.target

[Service]
ExecStart = /usr/local/paho/bin/SERVICENAME.exe
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
