[Unit]
Description = Starting Sy1527Pico  service
After = network.target

[Service]
ExecStart = /usr/local/paho/bin/Sy1527Pico.exe
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
